<section id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Edit Student Record</h1>
    </header>

    <form [formGroup]="EditStudentForm">
        <div class="field">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Student ID</mat-label>
                <input matInput formControlName="student_id" readonly>
            </mat-form-field>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Student Name</mat-label>
                <input matInput formControlName="student_name" required>
            </mat-form-field>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
        </div>

        <div class="button-container" style="margin-top: 20px;">
            <button mat-raised-button (click)="onSubmit(EditStudentForm.value)"  style="background-color: rgb(51, 153, 255); color: white;">Submit</button>
            <button mat-raised-button (click)="closeModal()" style="margin-left: 10px;">Cancel</button>
        </div>
    
        <div style="margin-top: 10px; color: red;">
            {{message}}
        </div>
    </form>

</section>

